<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Vox Web Scraper</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/scrape"><span class="glyphicon glyphicon-log-in"></span> Scrape Vox</a>
        </li>
      </ul>
    </div>
  </nav>

  {{#each articles}}
  <div class="row">
    {{> articles/article-block}}
  </div>
  {{/each}}
</div>